/* 
 * CSS file for Kiva Secular.
 * Just basic layout, nothing fancy.
 */

body {
	width: 80%;
	margin: 0 10%;
	font-family: Verdana, sans-serif;
}

p {
	font-size: 110%;
}

h1 { 
	text-align: center; 
	color: #666; 
	font-size: 3em;
	text-decoration: underline;
	font-style: italic;
}

p.update { 
	float: right;
	font-size: 90%;
	color: #888;
}


/*
 * Main data 
 * TODO when the actual layout is coded
 */

div#loanlist {
    width: 90%;
    margin: 0 5%;
}

th {
    border-bottom: 1px solid black;
}

tr.evenrow {
    background-color: #ccc;
}

tr:hover {
    background-color: #7c7;
}

/* No hover for header */
tr.header:hover { 
    background-color: #fff;
}
